{% extends "./base.html" %}
{% load static %}

{% block title %}Book Your Appointment{% endblock %}

{% block body %}

<div class="booking-container">

    <h1 id="h1-head">Select a Date</h1>

    <!-- Calender widget -->
    <div id='calendar' service-id="{{ service_id }}"></div>

    <!-- Available Time Slots -->
    <h3>Ledige tidspunkter:</h3>
    <div id="available-slots" class="slots-container"></div>

    <!-- Confirm booking -->
    <button id="confirm-booking" style="display: none;">Confirm Booking</button>
</div>
{% endblock %}



{% block customJS %}

  {{ trainer|json_script:"trainer-name"}}

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
  <script src="{% static 'booking/booking.js' %}"></script>
{% endblock %}


